.box-header{
    display: flex;
    width: 320px;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}


.left-header{
    display: flex;
    gap: 1rem;
    align-items: center;

}

.left-header p{
    font-weight: 700;
    font-size: 1.1rem;
    color: #585858ff;
    padding-bottom: 2px;
}

.right-header{
    display: flex;
    gap: 10px;
}